<br /><label for="le_cours">COURS:</label>
<select id="le_cours" name="le_cours">
    <option value="*">-</option>
    <option value="M1">M1</option>
    <option value="M2A">M2A</option>
    <option value="M2B">M2B</option>
</select>
<br /><label for="le_semestre">SEMESTRE:</label>
<select id="le_semestre" name="le_semestre">
    <option value="*">-</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select>
<br /><label for="le_bloc">BLOC:</label>
<select id="le_bloc" name="le_bloc">
    <option value="*">-</option>
    <option value="1">Disciplinaire</option>
    <option value="2">Didactique</option>
    <option value="3">Recherche</option>
    <option value="4">Contexte d'exercice du metier</option>
    <option value="5">Mise en situation professionnelle</option>
</select>
<br /><label for="la_discipline">DISCIPLINE(BLOCS 1 ET 2):</label>
<select id="la_discipline" name="la_discipline">
    <option value="*">-</option>
    <option value="1">Francais</option>
    <option value="2">Mathemathiques</option>
    <option value="3">EPS</option>
    <option value="4">Anglais</option>
    <option value="5">Hist/Geo</option>
    <option value="6">Sc. Techno</option>
    <option value="7">Musique</option>
    <option value="8">Arts visuels</option>
    <option value="9">Numerique</option>
</select>
<br /><br />
<div id="result">...</div>

